/* Base */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
  --color-primale:rgb(0, 103, 187);
  --color-secondaire:rgb(103, 120, 126);

  --color-back:rgb(40, 37, 41);
  --color-front:rgb(51, 51, 51);

  --color-back-trans:rgba(128, 128, 128, 0.2);
}

.show {
  visibility: visible !important;
}  

html, body{
  background-color: var(--color-back);
  padding: 0;
  margin: 0;

  display: block;
}

*{
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.stop-scroll{
  overflow-y: hidden;
}

.header{
  display: block;
  z-index: 9999;
}

.top-header{
  display: block;
  width: 100%;
  height: 100vh;

  z-index: 9999;
}

.top-header .header-background {
  display: block;
  height: 100%;
  width: 100%; 
  z-index: 0; 
  
  position: absolute;


  overflow: hidden;
  background-image: url('../images/header.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.top-bar{

  background-color: var(--color-back-trans);

  position: relative;
  display: block;
  width: 100%;
  height: 90px;

  z-index: 9999;
  
  border-bottom: 3px solid var(--color-secondaire);
}

.top-bar .logo{
  display: inline-block;
  width: 50%;
  font-size: 35px;
  padding-top: 20px;
  padding-left: 20px;

  color: var(--color-primale);
}

.top-bar .logo::first-letter {
  color: white;
}

.content{
  display: block;
  width: 100%;

  margin-top: 5vh;
  min-height: 75.5vh;

  height: auto;

  color: var(--color-back);
}

.footer{
  background-color: var(--color-secondaire);
  display: block;

  width: 100%;
  height: 48px;

  padding: 5px;
  
  font-size: 15px;
  text-align: center;

  color: var(--color-back);
}

.footer > p{
  display: inline-block;
}

.footer > a{
  display: inline-block;
  color: var(--color-primale);
  margin-left: 0px;
}

@media screen and (min-width: 800px){

  .top-header{
    display: block;
    width: 100%;
    height: 85vh;
  }

  .content{
    padding: 65px;
  }

  .footer{
    font-size: 25px;
    text-align: center;
    height: 100px;
  }
  .footer > a{
    margin-left: 25px;
  }
}