.video{
  display: block;
  width: 100%;
  min-height: 600px;
  padding: 15px;
}

.video iframe{
    display: block;

    width: 100%;
    height: 500px;

    border-radius: 15px;
    pointer-events: none;

    margin: 0 auto;
}

.video ul{
  position: relative;
  display: block;
  width: 100%;
  height: 100px;

  margin: 15px auto;

  list-style: none;

  padding: 0;

  text-align: center;
  white-space: nowrap;

  overflow-x: hidden;
  overflow-y: hidden;
}

.video ul::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;

  background: rgb(2,0,36);
  background: linear-gradient(

    90deg, var(--color-back) 0%,

    rgba(40, 37, 41, 1) 90%,

    rgba(40, 37, 41, 0.01) 100%
    
  );

  width: 10%;
  height: 100%;
}

.video ul::before{
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;

  background: rgb(2,0,36);
  background: linear-gradient(

    -90deg, var(--color-back) 0%,

    rgba(40, 37, 41, 1)90%,

    rgba(40, 37, 41,0.01) 100%
    
  );

  width: 10%;
  height: 100%;
}

.video ul li{
  display: inline-block;

  width: 200px;
  height: 100%;
}

.video ul li a {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 200px;
  height: 100%;

  justify-content: center;
  align-items: center;

  border-radius: 15px;
}

.video ul li a img{
   width: auto;
   height: 100%;
}

@media screen and (min-width: 800px){

  .video iframe{
    width: 40%;
  }

  .video ul::after{
    width: 30%;
  }
  .video ul::before{
    width: 30%;
  }
}