/*==  Dont Edit is File compile !  ==*/
/* Base */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
  --color-primale:rgb(0, 103, 187);
  --color-secondaire:rgb(103, 120, 126);

  --color-back:rgb(40, 37, 41);
  --color-front:rgb(51, 51, 51);

  --color-back-trans:rgba(128, 128, 128, 0.2);
}

.show {
  visibility: visible !important;
}  

html, body{
  background-color: var(--color-back);
  padding: 0;
  margin: 0;

  display: block;
}

*{
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.stop-scroll{
  overflow-y: hidden;
}

.header{
  display: block;
  z-index: 9999;
}

.top-header{
  display: block;
  width: 100%;
  height: 100vh;

  z-index: 9999;
}

.top-header .header-background {
  display: block;
  height: 100%;
  width: 100%; 
  z-index: 0; 
  
  position: absolute;


  overflow: hidden;
  background-image: url('../images/header.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.top-bar{

  background-color: var(--color-back-trans);

  position: relative;
  display: block;
  width: 100%;
  height: 90px;

  z-index: 9999;
  
  border-bottom: 3px solid var(--color-secondaire);
}

.top-bar .logo{
  display: inline-block;
  width: 50%;
  font-size: 35px;
  padding-top: 20px;
  padding-left: 20px;

  color: var(--color-primale);
}

.top-bar .logo::first-letter {
  color: white;
}

.content{
  display: block;
  width: 100%;

  margin-top: 5vh;
  min-height: 75.5vh;

  height: auto;

  color: var(--color-back);
}

.footer{
  background-color: var(--color-secondaire);
  display: block;

  width: 100%;
  height: 48px;

  padding: 5px;
  
  font-size: 15px;
  text-align: center;

  color: var(--color-back);
}

.footer > p{
  display: inline-block;
}

.footer > a{
  display: inline-block;
  color: var(--color-primale);
  margin-left: 0px;
}

@media screen and (min-width: 800px){

  .top-header{
    display: block;
    width: 100%;
    height: 85vh;
  }

  .content{
    padding: 65px;
  }

  .footer{
    font-size: 25px;
    text-align: center;
    height: 100px;
  }
  .footer > a{
    margin-left: 25px;
  }
}

.carrousel {
    background-color: blue;
    display: block;
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
}

.carrousel .imgs {
    background-color: var(--color-secondaire);
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.carrousel .imgs > .item {
    position: absolute;
    display: block;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    top: 0;

    color: #000;
}

.carrousel .imgs .item h1 {
    margin-top: 50px;
    text-shadow: 0 2px var(--color-front);
    background-color: var(--color-secondaire);
}

.carrousel .imgs .item img {

    margin-left: auto;
    margin-right: auto;

    display: block;
    width:80vw;
    border-radius: 5px;
}

.carrousel button {
    color: var(--color-front);
    display: block;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    background-color: var(--color-back);
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 9;
    border-radius: 5px;
    font-size: 25px;
    color: var(--color-primale);
}

.carrousel .left {
    left: 15px;
}

.carrousel .right {
    right: 15px;
}

@media  (min-width: 800px) {
    .carrousel {
      
    }
}

.gallery {
    display: grid;

    width: 100%;
    min-height: 280px;

    grid-auto-rows: 280px;
    grid-gap: 15px;

    grid-template-columns: repeat(auto-fill, 280px);

    justify-content: center;
    align-items: center;
}

.gallery .item {
    display: grid;
    background-color: black;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1200px) {
    .gallery{
        grid-template-columns: repeat(4, 280px);
    }
}

/* menu */

.top-bar .github
{
    
    position: absolute;
    top:15px;
    right: 50px;
    display: inline-block;
    width: auto;
    
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;

    font-size: 35px;

    background-color: var(--color-secondaire);
   
    border-radius: 15px;

    visibility: hidden;
}

.top-bar .github a {
    text-decoration: none;
    color: var(--color-back);
}

.top-bar .github a:hover{
    color: var(--color-primale);
}

.top-bar .button{
    position: absolute;
    top:5px;
    right: 30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 5px;

    z-index: 9999;

    cursor: pointer;
}
  
.top-bar .button div{
    display: block;
    width: 60px;
    height: 10px;
    margin: 10px;
    background-color: var(--color-primale);
    border-radius: 5px;
}

.menu{
    background-color: var(--color-secondaire);
    display: block;
    
    position: absolute;

    width: 100%;
    padding: 5px;
    height: 100vh;
    
    overflow: auto;
    direction:ltr;

    visibility: hidden;

    z-index: 999;

    user-select: none;
}

.menu ul{
  padding: 0;
  list-style: none;
  text-align: center;

  white-space: nowrap;
}

.menu ul li{
   display: block;
   padding: 15px;
}

.menu ul li a{
    position: relative;
    text-decoration: none;
    font-size: 35px;

    cursor: pointer;

    color: var(--color-back);
}

.menu ul li a::after{
  position: absolute;

  bottom: -5px;
  left: 0;
  right: 0;

  height: 2px;
  background-color: var(--color-secondaire);

  content: ''; 

  transform-origin: -1 0;
  transform: scaleX(0);

  transition: transform .3s;

  z-index: 1;
}

.menu ul li a:hover::after{
  transform: scaleX(-1);
}

@media screen and (min-width: 800px){

    .top-bar .button{
        visibility: hidden;
    }

    .menu ul li a{
        display: block;
        color: var(--color-secondaire);
    }

    .menu ul li a::first-letter {
        color: white;
    }

    .menu{
        position:initial;
        background-color: transparent;

        visibility: visible;
        height: auto;

        min-height: auto;
    }

    .top-bar .github
    {
        visibility: visible;
    }

    .menu ul li{
        display: inline-block; 
    }

    .menu ul li a{
        font-size: 25px;
    }

}

.video{
  display: block;
  width: 100%;
  min-height: 600px;
  padding: 15px;
}

.video iframe{
    display: block;

    width: 100%;
    height: 500px;

    border-radius: 15px;
    pointer-events: none;

    margin: 0 auto;
}

.video ul{
  position: relative;
  display: block;
  width: 100%;
  height: 100px;

  margin: 15px auto;

  list-style: none;

  padding: 0;

  text-align: center;
  white-space: nowrap;

  overflow-x: hidden;
  overflow-y: hidden;
}

.video ul::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;

  background: rgb(2,0,36);
  background: linear-gradient(

    90deg, var(--color-back) 0%,

    rgba(40, 37, 41, 1) 90%,

    rgba(40, 37, 41, 0.01) 100%
    
  );

  width: 10%;
  height: 100%;
}

.video ul::before{
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;

  background: rgb(2,0,36);
  background: linear-gradient(

    -90deg, var(--color-back) 0%,

    rgba(40, 37, 41, 1)90%,

    rgba(40, 37, 41,0.01) 100%
    
  );

  width: 10%;
  height: 100%;
}

.video ul li{
  display: inline-block;

  width: 200px;
  height: 100%;
}

.video ul li a {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 200px;
  height: 100%;

  justify-content: center;
  align-items: center;

  border-radius: 15px;
}

.video ul li a img{
   width: auto;
   height: 100%;
}

@media screen and (min-width: 800px){

  .video iframe{
    width: 40%;
  }

  .video ul::after{
    width: 30%;
  }
  .video ul::before{
    width: 30%;
  }
}

.a-propos{
    display: block;
}

.a-propos .parallax{
    position: relative;
    display: block;
}

.a-propos .parallax .box{
    
    display: grid;
    width: 100%;
    padding: 5px;

    height: 600px;

    grid-template-columns: 50% 50%;

    align-items: center;
    justify-content: center;
}

.a-propos .parallax .box .inverse{
   grid-row: 1;
   grid-column: 1;
}

.a-propos .parallax .box img{
    display: inline;
    width: 50px;
    height: 50px;

    object-fit:cover;
    border-radius: 15px;
    margin: 0 auto;

    filter: drop-shadow(0 0 0.75rem var(--color-primale));

    z-index: 1;
}

.a-propos .parallax .box .text{
    display: grid;
    width: auto;
    z-index: 2;

    color: rgb(255, 255, 255);
     
    padding: 5px;
}

.a-propos .parallax .box .text h3{
    text-align: left;
    display: block;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 35px;

    text-shadow: 0 5px rgb(0, 0, 0);
    white-space: nowrap;
}

.a-propos .parallax .box .text p{
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 20px;

    text-shadow: 0 5px rgb(0, 0, 0);
}

.a-propos .inverse p {
    text-align: right !important;
}

.a-propos .inverse h3 {
    text-align: right !important;
}

@media screen and (min-width: 600px){
    .a-propos .parallax .box img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 800px){
    .a-propos .parallax .box {
        height: 100vh;
    }
    .a-propos .parallax .box img{
        width: 300px;
        height: 300px;
    }

    .a-propos .parallax .box .text h3{
        font-size: 35px;
    }

    .a-propos .parallax .box .text p{
        font-size: 25px;
    }
}

/* Accueil */

.accueil{
  width: 100%;
  padding: 5px;
}

.accueil .imgs {
  margin: 15px auto;
}

.accueil .imgs > a
{
  display: block;
  width: 60%;
  margin: 0 auto;
  text-decoration: none;
}

.accueil .imgs > a img{
  display: block;
  width: 100%;
}

.accueil .accueil-content{
  
  display: block;
  width: 100%;
  text-align: left;

  background-color: var(--color-secondaire);
  padding: 5px;
  margin: 20px auto;
  border-radius: 15px;

  padding: 60px;
}

.accueil .accueil-content h1{
  font-size: 45px;
  white-space: nowrap;
}

.accueil .accueil-content p{
  font-size: 25px;
  margin: 5px;
  padding: 0;
}

.accueil .accueil-content button{
  background-color: var(--color-back);
  display: block;
  width: 300px;
  height: 70px;

  border: 5px;
  border-radius: 5px;

  font-size: 25px;

  color: var(--color-primale);
  margin: 0 auto;

  cursor: pointer;
}


@media screen and (min-width: 800px){
  .accueil{
    margin-top: 130px;
    display: grid;
    grid-template-columns:2fr 5fr;
    grid-gap: 10px;
  }
 
  .accueil .accueil-content p{
    font-size: 25px;
  }
 
  .accueil .accueil-content h1{
    font-size: 65px;
    white-space: initial;
  }

  .accueil .accueil-content{
    min-width: 500px;
    margin: 0 auto;
  }

  .accueil .imgs > img{
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}

.contact{
    padding: 15px;
    background-color: var(--color-secondaire);

    display: block;
    width: 90%;

    min-height: 300px;

    margin: 0 auto;

    border-radius: 5px;

    margin-top: 35px;
}

.contact form{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.contact form input{
    display: block;
    width: 80%;
    height: 40px;

    border:0;
    border-radius: 5px;
    margin: 15px auto;

    padding: 5px;
}

.contact form textarea{
    display: inline-block;
    width: 80%;
    height: 150px;
    margin: 15px auto;

    border:0;
    border-radius: 5px;
    padding: 5px;
}

.contact form input[type='submit']{

    background-color: var(--color-primale);

    width: 100px;
    height: 40px;

    cursor: pointer;
}

.contact form input:hover[type='submit']{
    background-color: var(--color-primale);
    color: var(--color-front);
}

.contact a{
    color: var(--color-primale);
}


@media screen and (min-width: 800px){
    .contact{
        width: 35%;
    }
}

.game{
    display: block;
    width: 100%;

    position: relative;

    padding: 5px;
}

.game-engine{
    display: block;
    border:1px solid black ;
    
    width: 90%;

    margin: 0 auto;
    margin-top: 25px;
}

.game-engine canvas{
    width: 300px;
}

.game-menu{
    color:white;
    position: absolute;
    top:100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    visibility: hidden;
}

.mobile-game-controls{
   display: grid;

   grid-template-columns: 50% 50%;
   width: 90%;
   
   margin: 0 auto;

   font-size: 15px;

   align-items: center;

   padding: 15px;
}

.mobile-game-controls .controls{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    user-select: none;

    padding: 5px;
}

.mobile-game-controls .controls button{
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px auto;

    border-radius: 15px;
    border:0;

    font-size: 25px;

    filter: drop-shadow(0 0 0.75rem var(--color-primale));
}

.mobile-game-controls .controls .up{
   transform: rotate(-90deg);
}

.mobile-game-controls .controls .up:active{
    background-color: cyan;
}

.mobile-game-controls .controls .down{
    transform: rotate(90deg);
}

.mobile-game-controls .controls .down:active{
    background-color: cyan;
}

.mobile-game-controls .controls .btn-a{
    color: rgb(15, 214, 15);
}

.mobile-game-controls .controls .btn-a:active{
    background-color: cyan;
}

@media screen and (min-width: 800px){
    .game-engine{
        width: 600px;
    }

    .mobile-game-controls{
        width: 600px;
    }

    .mobile-game-controls .controls button{
        width: 100px;
        height: 100px;
        font-size: 45px;
    }
}

.Landing{
    
}

.map {
  display: block;
  width: 100%;
}

.map svg{
    display: block;
    width: 40%;
    margin: 0 auto;
}

